@font-face {
    font-family: "Nimbus Sans L Reg";
    src: url("{{ media_folder }}/fonts/nimbus/NimbusSanL-Reg.otf");
}

html, body {
    height: 100%;
}

body {
    margin: 93px 30px;
    font-family: "Helvetica Neue", "Nimbus Sans L Reg", sans-serif;
    font-size: 13px;
    line-height: 17px;
    background-image: url("{{ media_folder }}/img/earth.png");
    background-repeat: no-repeat;
    background-position: bottom center;
}

h1 {
    font-size: 23px;
    line-height: 47px;
    font-weight: normal;
}

h1::before {
    content: "";
    display: block;
    width: 84px;
    height: 28px;
    background-image: url("{{ media_folder }}/img/logo.svg");
    background-size: cover;
}

h1::after {
    content: "";
    display: block;
    width: 204px;
    height: 204px;
    margin-top: -100px;
    float: right;
    background-image: url("{{ media_folder }}/img/instrument.png");
    background-size: cover;
}

section.introduction {
    clear: right;
}

section.introduction p {
    margin: 5px 0;
    padding: 0;
}

section.moon-events {
    display: flex;
    flex-direction: row;
    min-height: 40px;
    margin: 40px
}

section.moon-events .data {
    padding-left: 36px;
    line-height: 12px;
    font-weight: bold;
    font-size: 11px;
}

section.moon-events .data.moonphase {
    background-image: url("{{ media_folder }}/img/moon-phase.png");
    background-repeat: no-repeat;
    background-size: 31px;
}

section.moon-events .data.events {
    flex-grow: 2;
    display: flex;
}

section.moon-events .data h3 {
    margin: 0;
    margin-left: 5px;
    padding: 0;
    margin-bottom: 5px;
    display: block;
    font-weight: normal;
    font-size: 9px;
}

section.moon-events .data .text {
    margin-left: 5px;
}

section.moon-events .data ul {
    list-style: none;
    margin: 0;
    margin-left: 5px;
    padding: 0;
    font-weight: normal;
    font-size: 11px;
}

section.moon-events .data ul li {
    margin: 0;
    padding: 0;
}

section.moon-events .data ul li strong {
    font-size: 1.2em;
    margin-right: 1.01em;
}

section.moon-events .data .best-event {
    float: left;
    margin-right: 5px;
}

section.moon-events .data .best-event img {
    height: 31px
}

section.moon-events .data .best-event.conjunction img:nth-child(1) {
    margin-right: -10px;
}

section.moon-events .data .best-event.occultation img:nth-child(1) {
    margin-right: -20px;
}

.ephemerides svg {
    width: 150mm;
    height: 100mm;
}

@page {
    size: A4;
    margin: 93px 30px;
    margin-bottom: 0;
}
